doctype html
html
    head
        style.
            body{
                background-color: #31708E;
                color: white;
                margin:auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height:500px; 
            }
            .failure{
                padding:10px;
                font-size:1.2em;
                border : 1px solid white;
                background-color:white;
                color:red;
                margin:10px;
            }
            a:link{
                color:white;
            }
    body
        .failure
            span Sorry, we could not create your account at this time.
            span  Please try again later. 
            