doctype html
html
    head
        style.
            body{
                background-color: #31708E;
                color: white;
                margin:auto;
                display: flex;
                align-items: center;
                justify-content: center;
                height:500px; 
            }
            .success{
                padding:10px;
                font-size:1.2em;
                border : 1px solid white;
                
            }
            a:link{
                color:white;
            }
    body
        .success
            span Your account on SSPA is ready for use.
            span  Please click 
            a(href='http://localhost:3000/login') here 
            span to login.